/* Estilos generales del body */
body {
  background-image: url("https://thumbs.dreamstime.com/b/concepto-de-estad%C3%ADsticas-pluma-y-calculadora-en-un-fondo-de-los-n%C3%BAmeros-90445542.jpg");
  background-size: cover;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  min-height: 100vh; /* Tamaño mínimo del cuerpo de la página (100% del viewport height) */
}

h1 {
  font-size: 2.5em; /* Tamaño de fuente grande para el título */
  color: #333; /* Color de texto oscuro */
  margin-bottom: 60px; /* Margen inferior */
}

label {
  font-weight: bold; /* Negrita */
  color: #333; /* Color de texto oscuro */
}

input {
  width: 400px; /* Ancho reducido */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 20px; /* Margen inferior */
  border: 1px solid #97e3ed; /* Borde delgada gris */
  border-radius: 8px; /* Bordes redondeados */
  box-sizing: border-box; /* Tamaño de la caja incluye el borde y el relleno */
  font-size: 20px; /* Tamaño de fuente */
}


  
